

.to-do-list{
    font-size: medium;
    font-family:Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    color: rgb(0, 0, 0);
}

h1{
    font-size: 4rem;
}


button{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(245, 245, 245);
    border-width: 5px;
    padding: 10px 10px;
    size: 40px;
    border-radius: 10px;
    border:none;
}

.add-button{
    background-color: greenyellow;
 
 
} 
.txtNAd{
    display:flex;
    padding: 10px;
    gap: 20px;
    justify-content: center;
}


.delete-button:hover{
    background-color: rgb(226, 236, 30);
}

.add-button:hover{
    background-color: rgb(23, 235, 235);
}

input[type="text"]{
    font-size: 1.2rem;
    padding: 1px;
    border:1px solid
}


li{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap:40px;
    font-weight: bold;
    padding: 15px; 
    border: 2px solid;
    border-color: rgb(104, 107, 109);
    margin-bottom: 30px;
    border-radius: 5px;
    align-items: center;
}

